.wrapper {
    background-color: orange;
    padding: 1rem 0;
}

.about {
    background-color: orange;
    padding: 1rem 0;
}
.box1{
    width: 1000px;
    height: 1000px;
    padding: 50px;
    margin: 0 auto;
    background:#aad4cf;
  }