html{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 1rem 0;
    margin: 20px;
}

.about {
    background-color: orange;
    padding: 1rem 0;
}
header{
    text-align: center;
    font-size: 24px;
    background-image: url(/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.map{
    float: right;
}
