html{
    font-size: 18px;
}

body{
    font-family: inherit;
}

header{
    background-color: greenyellow;
}

footer{
    background-color: greenyellow;
}

.my-class{
    background:lightskyblue ;
}

