body{
    font-family: inherit;
    font-size: 18px;
}

header{
    background-color: greenyellow;
}

footer{
    background-color: greenyellow;
}

.my-class{
    background:lightskyblue ;
}

#my-unique-id{
    background-color: black;
}

ul{
    list-style-type: square;
}

