body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: greenyellow;

}

.alex {
    color: darkblue;
}

footer{
    background-color: greenyellow;
}

img{
    box-shadow: 0px 0px 2px 1px #000;
}

li:nth-child(1) {
    background-color: mediumspringgreen;
}

ul{
    list-style-type: square;
}

a:link, a:visited {
    color:darkred;
    text-decoration: none;
    background-color: lightsalmon;
    border-style: solid;
}

a:hover, a:active {
    color: green;
    text-decoration: none;
    background: lightgreen;
    border-style: solid;
}


