html{
    scroll-behavior: smooth;
}

img{
    width: 125px;
    height: 125px;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: aquamarine;
}
/*body paragraph*/
header{
    text-align: center;
    font-size: 24px;
    color: white;
    background-image: url(/images/lone-starfish-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
/*header of webpage*/

.box1{
    width: 1000px;
    height: 1000px;
    padding: 50px;
    margin: 0 auto;
    background:#aad4cf;
  }
  /*box sizing for content*/




form{
    width: 950px;
    height: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
}
    /*forms to fill content*/
footer{
    text-align: right;
}
   /*copyright footer*/