/* removes bullet points from list of facts*/
.facts {
    list-style-type: none;
}

header{
    text-align: center;
    background-image: url(../images/lone-starfish-wide.jpg);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: top center;
   /* background-size: contain;*/
}