html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #151617;
    text-align: center;
}

header{
    font-size: 16px;
    color: white;
}

h6{
 font-family: Georgia, 'Times New Roman', Times, serif;
}