html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body{
    background-color: #151617;
    text-align:left;
}

header{
    font-size: 16px;
    color: white;
}

h6{
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    align-content: flex-start;

}